.container {
    display: flex;
    justify-content: space-evenly;
}

.navBar {
    padding: 20px 12px 12px 12px;
    background: linear-gradient(5deg, rgb(47, 44, 71), rgb(34, 51, 72), rgb(19, 35, 68));
    box-shadow: 0 4px 6px rgba(46, 43, 43, 0.469);
    border-radius: 20% 20% 0 0;
}

.link {
    color: white;
    text-decoration: none;
    transition: 200ms;
}

.link:hover {
    transform: translateY(-2px)
}

.linkActive {
    color: rgb(12, 189, 12);
}