.container {
    display: flex;
    justify-content: space-evenly;
}

.navBar {
    background: #303c4a;
    padding: 12px;
    box-shadow: 0 4px 6px rgba(46, 43, 43, 0.1);
}

.link {
    color: white;
    background: linear-gradient(to-right, blue, yellow, rgb(232, 133, 232));
    text-decoration: none;
    transition: 200ms;
}

.link:hover {
    transform: translateY(2px)
}

.linkActive {
    color: rgb(12, 189, 12);
}