.productContainer {
    padding: 10px;
    background: transparent;
    box-shadow: 0 0 6px rgba(46, 43, 43, 0.469);
    /* background: linear-gradient(0deg, rgb(40, 43, 62), rgb(36, 30, 59), rgb(22, 26, 64)); */
    border: 2px solid rgb(41, 38, 84);
    border-radius: 10px;
    cursor: pointer;
    transition: transform 80ms;
}

.productContainer:active {
    transform: scale(1.01);
}

.title {
    font-size: 18px;
    font-weight: 200;
    color: rgb(206, 201, 195);
}